<h1> 新たなスレッドの作成 </h1>

<p><%= link_to "掲示板一覧へ戻る", my_threads_path %></p>
<br>
<%= form_for @my_thread do |f| %>
  <p>
  <%= f.label :スレッド名 %><br>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.submit :スレッドの作成 %>
  </p>

<% end %>
